@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  text-decoration: none;
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}
p {
  margin: 0;
}

#header {
  .header {
    position: relative;

    .header-logo {
      font-family: 'Noto Serif', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #002F6C;
      height: auto;
    }

    .header-menu {

      .menu-item {
        margin-right: 48px;

        .menu-link {
          font-weight: 500;
          font-size: 14px;
          line-height: 19px;
          color: #0067B9;
        }
        .header-menu-active{
          height: 35px;
          border: 1px solid #002F6C;
          box-sizing: border-box;
          border-radius: 33px;
          color: #002F6C;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 16px;
        }
      }
    }
  }
}

.hero {
  background: url("../img/hero-bg.png");
  position: relative;
  height: 395px;

  .hero-bg-dark {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(90deg, #1D3557 0%, rgba(0, 0, 0, 0.33) 100%);
    opacity: 0.8;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    z-index: 5;
    color: white;

    .hero-title {
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
      z-index: 5;
      margin-top: 109px;
    }

    .button-group {
      z-index: 5;
      margin-top: 16px;

      .hero-btn-bold {
        background: #0067B9;
        border-radius: 37px;
        border: none;
        width: 150px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }

      .hero-btn {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 37px;
        width: 150px;
        margin-left: 24px;
        color: white;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;

        &:hover {
          background: none;
        }

      }
    }
  }
}

.infor {

  margin-top: 64px;

  .infor-card {
    .card-content {
      border: none;

      .card-content-img {
        width: 90px;
        height: 90px;
        left: 0;
      }

      .card-name {
        font-family: 'Noto Serif', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #0067B9;
      }

      .card-about {
        font-size: 14px;
        line-height: 21px;
        color: #6C6463;
        margin-top: 8px;

      }
    }
  }
}

.project {
  background: #E8E7E3;
  margin-top: 32px;
  padding-top: 36px;
  padding-bottom: 48px;

  .project-title {
    font-family: 'Noto Serif', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
  }

  .project-content {
    background: none;
    margin-top: 32px;
    border: none;

    .project-img {

    }

    .project-logos {
      margin-bottom: 42px;

      .project-content-img {
        width: 170px;
        height: 59px;
        margin-left: 16px;

        & ~ .project-content-img {
          margin-left: 24px;
        }
      }
    }

    .project-about {
      font-size: 14px;
      line-height: 21px;
      color: #6C6463;

    }

    .project-button {
      background: #0067B9;
      border-radius: 37px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      width: 150px;
      margin-top: 43px;
    }
  }
}

.news {
  margin-top: 48px;

  .news-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .news-title {
      font-family: 'Noto Serif', sans-serif;
      font-weight: 700;
      font-size: 38px;
      line-height: 52px;
    }

    .news-link {
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #0067B9;
      text-decoration: none;
    }
  }

  .news-content {
    margin-top: 0;

    .news-card {
      border: none;
      margin-top: 8px;

      .news-time {
        display: flex;
        margin-top: 16px;
        align-items: center;
        margin-bottom: 12px;

        .time-date {
          font-size: 16px;
          line-height: 24px;
        }

        .time-link {
          background: #E8E7E3;
          border-radius: 34px;
          width: 90px;
          display: flex;
          justify-content: center;
          text-decoration: none;
          align-items: center;
          font-size: 16px;
          line-height: 24px;
          color: black;
          height: 35px;
          margin-left: 36px;
          font-style: italic;

        }

        .time-link-blue {
          width: 150px;
          background: #A7C6ED;
        }
      }

      .news-card-about {
        font-family: 'Noto Serif', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #002F6C;

      }

      .news-card-button {
        border: 1px solid #002F6C;
        box-sizing: border-box;
        border-radius: 37px;
        width: 177px;
        height: 48px;
        color: #002F6C;
        margin-top: 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        display: block;
      }

    }
  }
}

#footer {
  margin-top: 100px;
  background: #002F6C;
  padding-top: 36px;
  color: white;

  .footer-content {
    background: none;
    border: none;

    .footer-logo {
      margin-top: -12px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #FFFFFF;
      text-decoration: none;
    }

    .footer-content-title {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
    }

    .footer-about {
      font-size: 18px;
      line-height: 24px;
      margin-top: 36px;
    }

    .footer-brands {
      margin-top: 24px;

      a {
        color: white;
      }

      i {
        transform: scale(1.3);
      }

      .footer-brand-item {
        margin-left: 36px;
      }
    }
  }

  .footer-form-col {
    position: relative;
  }

  .footer-form {
    margin-top: 39px;

    input {
      background: none;
      margin-top: 24px;
      border: 1px solid white;
      box-sizing: border-box;
      border-radius: 8px;
      height: 48px;
      color: white;

      input:first-child{
        margin-top: 0;
      }
      &::placeholder {
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }

      &:first-child {
        margin-top: 54px;
      }
    }

    textarea {
      width: 100%;
      margin-top: 24px;
      background: none;
      border: 1px solid white;
      box-sizing: border-box;
      border-radius: 8px;
      color: white;
      padding: 16px;
      height: 110px;

      &::placeholder {
        color: white;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .footer-btn {
    background: #0067B9;
    border-radius: 37px;
    width: 177px;
    height: 48px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    position: absolute;
    right: 0;

  }

  .map {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-top: 55px;
  }

  .footer-foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 132px;

    .footer-foot-about {
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 62px;
    }
  }
}

//Диагностика

.diag-hero {
  background: url("../img/hero-bg.png") no-repeat center/cover;
  height: 190px;
  position: relative;
  margin-bottom: 50px;

  .diag-bg-dark {
    background: linear-gradient(90deg, #1D3557 0%, rgba(0, 0, 0, 0.33) 100%);
    opacity: 0.8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;

  }

  .diag-hero-content {
    z-index: 5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;

    .diag-hero-content-name {
      z-index: 5;

      .diag-hero-content-title {
        font-family: 'Noto Serif', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 52px;
        color: #FFFFFF;
      }

      .diag-hero-content-about {
        font-style: italic;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        font-weight: 400;

      }
      span{
        @extend .diag-hero-content-about;
        letter-spacing:2px;
        font-weight: 300;
      }
    }

    .diag-icon {
      z-index: 5;
    }

  }
}

.diag-slide {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .slide-link {
    background: #E8E7E3;
    border-radius: 4px;
    margin: 0 8px;
  }

  .page-link-bg {
    background: #0067B9;
    border-radius: 4px;
    color: white;
  }


}


//Диагностика End
//ALSO
.also-content {
  .tubercules {
    font-family: 'Noto Serif', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }

  .tuber-img {
    margin-top: 46px;
    width: 100%;
  }

  .tuber-about {
    font-size: 14px;
    line-height: 21px;
    color: #6C6463;
    margin-top: 36px;
  }

  .tuber-foot {
    display: flex;
    margin-top: 36px;

    .tuber-foot-name {
      font-family: 'Noto Serif', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    .tuber-brands {
      margin-left: 24px;

      & a {
        margin: 0 16px;
        color: black;

        & i {
          transform: scale(1.3);
        }
      }
    }
  }

  .also-news {
    font-family: 'Noto Serif', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }


}


//ALSO END

